.w {
    width: 1200px;
    margin: 0 auto;
}

/* 快捷导航 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shortcut ul li {
    float: left;
}

.style_red {
    color: #c81623;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '*';
    margin-left: 6px;
}

.header {
    position: relative;
    height: 102px;
    background-color: rgb(255, 255, 255);
}

.logo {
    position: absolute;
    /* top: 30px; */
    width: 211px;
    height: 102px;
}

.logo a {
    display: block;
    width: 211px;
    height: 102px;
    background: url(../HTML基础/images/bilan.png) no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    float: right;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
    line-height: 32px;
}

.hotword {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotword a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.shopcar::before {
    content: '1';
    margin-right: 15px;
}

.shopcar::after {
    content: '2';
    margin-left: 20px;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}